#
# Recommended .git/info/grafts points:
#
# 1bc09ae945e84d36d5c4eacbb6cf9315b294e541 dd01a036c86f53b357e34ab8cc642fa027f4bc39
#
*.iml
.idea/
pom.xml.releaseBackup
release.properties
target/
.classpath
.settings/
.project
